# Base de Datos (Credenciales Globales para PostgreSQL)
DB_USER=postgres
DB_PASSWORD=secret_password

# Microservicio de IA Cloud (APIs Externas)
# GROQ se dejo comentado ya que se decidio por gemini 
# pero para futuros planes de optimizacion se dejo la variable de entorno
# GROQ_API_KEY=
GEMINI_API_KEY=

# Microservicio de Mapas / Geoespacial (Ej. Google Maps / Mapbox)
MAPS_API_KEY=tu_maps_key_aqui
